.home-body{
    /* background: url("../../img/inventory_header.jpg") no-repeat center center fixed; */
   height: 650px;
   padding: 75px;
}

.home-holder{
    background-color: whitesmoke;
    /* padding-top: 100px */
}