header {
    background: #000000  25% 100% no-repeat;
    height: 155px;
    /* background-color: lightgreen; */
    padding: 20px;
}

#brand{
    background-color: white;
    font-family: 'Sacramento', cursive;
    font-size: 36px;
    width: 115px;
    margin-left: 15px;
    margin-bottom: 5px;
}

#nav-css{
    font-family: 'Cardo', serif;
    font-size: 15px;
    background-color: white;
    margin-left: 5px;
    color: black;
}


.nav-wrapper {
    background: url("./../images/inventory_header.jpg") 25% 100% no-repeat !important;
    height: 155px !important; 
    padding: 20px !important;  
}

.brand-logo{
    font-size: 75px !important;

}
